body {
  margin: 0;
  padding: 0
}

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 20px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  background-color: #333;
  position: sticky;
}

.navbar li {
  float: left;
  display: inline;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

hr {
  border-style: solid;
  border-color: lightgreen;
  border-width: medium;
  margin: auto;
  margin-top: -10px;
}

.top {
  background-color: #202020;
  color: white;
  border-color: lightgreen;
  width: 100%;
}

.top h1 {
  padding-top: 200px;
  margin-left: 290px;
  width: 25%;
}

.top p {
  font-family: sans-serif;
  font-size: 20px;
  margin-left: 290px;
}

.newFont {
  font-family: 'Sunflower', sans-serif;
}

.aboutme h1 {
  color: black;
  margin-top: 10px;
  margin-left: 40px;
  text-align: center;
}

.about p {
  font-size: 10px;
  position: relative;
}

.skills {}

.skills h1 {
  text-align: center;
}

.contact-me {}

#topsection {
  height: 600px;
}

#section2 {
  height: 400px;
}

#section3 {
  height: 500px;
}

#section4 {
  height: 400px;
}
}
